/*main background*/
body {
  background-color: #1a1aff;
  margin: 8px;
}

#homeScreen {
  display: block;
}

#settingsScreen {
  display: none;
}
/*Top Menu Bar*/
.tmenu {
  background-color: #6666ff;
  overflow: hidden;
  border-width: thin;
  border-color: #003366;
  border-radius: 5px;
}
/*Top Menu Links*/
.tmenu a {
  float:left;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
/*Top Menu Links Hover*/
.tmenu a:hover {
  background-color: #003366;
}
/*Large Video Box Container*/
.vbox {
  background-color: #6666ff;
  float: left;
  border-width: thin;
  border-color: #003366;
  border-radius: 5px;
  margin-top: 10px;
  width: 73%;
}

/*Large Chat Box Container*/
.cbox {
  background-color: #6666ff;
  float: right;
  border-width: thin;
  border-color: #003366;
  border-radius: 5px;
  margin-top: 10px;
  width: 25%;
}
/*Invisible Virticle Seperator Between Video and Chat Box*/
.vseperator {
  float: center;
  background-color: clear;
  width: 2%;
}
